.top{
    top: 40vh;
    position: relative;
}
.container{
    top: 20vh;
    position: relative;
    align-items: center;
}
.card{
    width: 30vw;
    height: 50vh;
    position: relative;
    align-items: center;
}
.background{
    background-color: #04ff82;
}